# PHP #
###################
connection.php
script-alerta.php
script-boletas.php
script-expira.php
script-*
*.log
mc.php
notificacion-khipu.php

# NetBeans #
############ :)
/nbproject/private/

# XAMPP - APACHE #
##################
dev_errors
