/* Add here all your CSS customizations */

.page-login {
	display: block;
}

.page-register {
	display: none;
}

.page-recover {
	display: none;
}

.capcha {
	clear: none;
	margin-bottom: 0px;
}

.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.pricing-table h3 span {
	width: 150px;
	height: 70px;
	font: bold 25px / 55px Georgia, Serif;
}

.toggle > label + p {
	height: 0px;
}

.wizard-tabs ul > li > a:before, .wizard-tabs ul > li > a:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: -10px;
  z-index: 1;
  border: 17px solid transparent;
  border-right: 0;
  border-left: 10px solid transparent;
  width: 0;
  height: 0;
}

.wizard-tabs ul > li > a:before {
  z-index: 1;
  right: -11px;
  border-left-color: #e0e0e0;
}

.wizard-tabs ul > li.active > a, .wizard-tabs ul > li.active > a:hover, .wizard-tabs ul > li.active > a:focus {
  background: white;
}

.wizard-steps > li.active a, .wizard-steps > li.active a:hover, .wizard-steps > li.active a:focus {
  border-top-color: #0088cc;
}

.wizard-steps > li.disable a:hover {
  background: #f4f4f4;
  cursor: not-allowed;
}

.wizard-tabs ul > li > a , .wizard-tabs ul > li > a:hover {
  background: #f4f4f4;
  color: #555555;
}

.wizard-tabs ul > li > a {
  position: relative;
  display: block;
  padding: 7px;
  font-size: 14px;
  font-size: 1.4rem;
  text-decoration: none;
  color: #555555;
}

.wizard-tabs ul > li.active > a:after {
  border-left-color: white;
}
.wizard-tabs ul > li > a:after {
  z-index: 2;
  border-left-color: #f4f4f4;
}

.wizard-steps {
	overflow: hidden;
	z-index: 1;
	border-right: 1px solid #EEE;
	border-top-right-radius: 5px;
}

section.timeline .timeline-box.primera{
  border: 3px solid #BFBFBF;
}

section.timeline .timeline-box.right.primera:after {
  border-left: 3px solid #BFBFBF;
  border-bottom: 3px solid #BFBFBF;
  left: -9px;
}

section.timeline .timeline-box.left.primera:after {
  border-right: 3px solid #BFBFBF;
  border-top: 3px solid #BFBFBF;
  right: -9px;
}

.table-center tbody td, .table-center thead th, .table-center tfoot th {
	text-align: center;
}

@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables tfoot, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td, #no-more-tables tfoot th { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before, #no-more-tables tfoot th:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
	#no-more-tables tfoot th:before { content: attr(data-title); }
}


destacar {
  font-size: 120%;
  font-weight: bold;
  color: #309da1;
}

destacarAFP {
  font-size: 100%;
  font-weight: bold;
  color: #df0e28;
}

.form-control-inlinetext {
  display: inline;
  width: initial;
  padding: 0px 0px;
  font-size: inherit; /* initial */
  height: 29px;
  line-height: 1;
}


.cuadro-recomendacion {
  position: relative;
  top: 50%;
  transform: translateY(30%); /* or try 50% */
}

.alert{
	float: right; display: block; width:100%; text-align:center; background-color:#FFFF66;
	position: relative;
	z-index: 3;
}